@charset "UTF-8";

.msgbox {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: transparent;
  word-break: break-all;
  overflow: hidden;
  &.show {
    display: -webkit-box;
    > .box-mask {
      -webkit-animation-name: MicroMask;
      @include animated-1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-duration: 250ms;
    }
  }
  > .box-mask, > .msgbox-ct {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > .box-mask {
    position: absolute;
    background-color: #000;
    opacity: 0;
  }
  > .msgbox-ct {
    position: relative;
    -webkit-transform: translateZ(0);
    background-color: transparent;
    display: -webkit-box;
    -webkit-box-pack: center;
    > .msgbox-bd {
      width: $layout-with;
      height: 100%;
      position: relative;
      > .box-ct {
        display: -webkit-box;
        font-size: 40px;
        color: #f6f6f6;
        position: absolute;
        -webkit-animation-name: MicroPopUp;
        @include animated-1s;
        -webkit-animation-duration: 250ms;
        > .box-bd {
          -webkit-transform: translateZ(0);
          > div {
            width: 100%;
            height: 100%;
          }
        }
      }
      > .box-ct.dialog {
        $dialog-w: $layout-with * 0.8;
        left: ($layout-with - $dialog-w)/2;
        top: 195px;
        color: #000;
        > .box-bd {
          width: $dialog-w;
          overflow: hidden;
          -webkit-border-radius: 10px;
          > div {
            @include box-v;
          }
          .content {
            padding-top: 30px;
            background-color: rgba(225, 225, 225, .9);
            -webkit-border-radius: 10px 10px 0 0;
          }
          .title {
            @include box-h-c-c;
            font-size: 36px;
          }
          .msg {
            font-size: 28px;
            padding: 0 30px 30px 30px;
            line-height: 36px;
            @include box-v-c-c;
            .simley {
              margin-left: 40px;
              -webkit-animation-name: bounceIn;
              @include animated-1s;
              -webkit-animation-duration: .6s;
            }
            > p {
              width: 100%;
              @include box-h-t-l;
              &.c {
                text-align: center;
                @include box-h-c-c;
              }
            }
          }
          .bbts {
            @include box-h-c-c;
            > div {
              &:active {
                background-color: #d0d0d0;
              }
              @include box-h-c-c;
              -webkit-box-flex: 1;
              font-size: 34px;
              color: #007aff;
              margin-top: 1px;
              padding: 20px 0;
              height: 81px;
              background-color: rgba(225, 225, 225, .9);
              &:first-child {
                -webkit-border-radius: 0 0 0 10px;
              }
              &:last-child {
                -webkit-border-radius: 0 0 10px 0;
              }
              &.no {
                margin-right: 1px;
              }
              &.yes {
                font-weight: bold;
              }
            }
          }
        }
      }
      > .box-ct.menu {
        $dialog-w: $layout-with * 0.95;
        //position: fixed;
        left: ($layout-with - $dialog-w)/2;
        bottom: 0px;
        color: #000;
        -webkit-animation-name: slideInUp;
        &.close{
          -webkit-animation-name: slideOutDown;
        }
        > .box-bd {
          width: $dialog-w;
          padding-bottom: 15px;
          > div {
            @include box-v;
          }
          .opt {
            &:active {
              background-color: #d0d0d0;
            }
            @include box-h-c-c;
            -webkit-box-flex: 1;
            font-size: 34px;
            color: #007aff;
            padding: 20px 0;
            height: 81px;
            background-color: rgba(225, 225, 225, .9);
            &.msg{
              height: auto;
              min-height: 81px;
              padding: 20px;
              color: #8f8f8f;
              font-size: 28px;
              text-align: center;
              &:active{
                background-color: rgba(225, 225, 225, .9);
              }
            }
            &.no {
              margin-top: 15px;
              background-color: #fff;
              -webkit-border-radius: 10px;
              font-weight: bold;
            }
            &.highlight{
              color: #f1442c;
            }
          }
          .options{
            -webkit-border-radius: 10px;
            overflow: hidden;
            > div {
              margin-top: 1px;
            }
          }
        }
      }
      > .box-ct.loading {
        $dialog-w: 240px;
        left: ($layout-with - $dialog-w)/2;
        top: 300px;
        > .box-bd {
          padding-top: 50px;
          width: $dialog-w;
          height: 240px;
          background-color: rgba(225, 225, 225, .9);
          -webkit-border-radius: 10px;
          > div {
            @include box-v-c-c;
          }
          .msg {
            font-size: 34px;
            color: #000;
            margin-top: 40px;
          }
        }
      }
      > .box-ct.signin {
        $dialog-w: 620px;
        left: ($layout-with - $dialog-w)/2;
        top: 300px;
        > .box-bd {
          position: relative;
          width: $dialog-w;
          min-height: 340px;
          background-color: #fff;
          padding: 30px;
          > div {
            @include box-v-c-c;
          }
          .msg {
            font-size: 34px;
            color: #414141;
            min-height: 200px;
            text-align: center;
            padding-top: 100px;
          }
          .plf {
            .b {
              @include active-default;
            }
          }
          .no {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            background-color: #e1e1e1;
            &:active {
              background-color: #ef533e;
            }
          }
        }
      }
    }
  }
}
